# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [ ]:
# 필요 라이브러리부터 설치할께요.
!pip install pandas seaborn

In [165]:
# 전체 열 보기
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings("ignore")

---

# (실습준비) 데이터 불러오기부터

In [52]:
import pandas as pd

# 학습 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

In [76]:
from datetime import *

---

# 1. 이상치/결측치 처리

#### [실습문제1] 미세먼지 데이터 결측치 처리
* 미세먼지 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.


* 앞서 데이터 불러오기 및 분석 단계에서 확인한 불필요한 변수에 대해 제거 해 주세요.

In [53]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_del_col = ['지역', '망', '주소']

In [54]:
# 중복되는 정보이거나 필요없는 열은 제거
air_21 = air_21.drop(air_del_col, axis=1)
air_22 = air_22.drop(air_del_col, axis=1)

#### 1) air_21

In [65]:
air_21.isna().sum()

측정소코드      0
측정소명       0
측정일시       0
SO2      112
CO        80
O3        97
NO2       80
PM10     105
PM25      97
dtype: int64

In [66]:
col = air_21.columns[3:]
air_21[col]

        SO2   CO     O3    NO2  PM10  PM25
0     0.003  0.6  0.002  0.039  31.0  18.0
1     0.003  0.6  0.002  0.035  27.0  16.0
2     0.003  0.6  0.002  0.033  28.0  18.0
3     0.003  0.6  0.002  0.030  26.0  16.0
4     0.003  0.5  0.003  0.026  26.0  16.0
...     ...  ...    ...    ...   ...   ...
8755  0.003  0.7  0.020  0.036  35.0  24.0
8756  0.003  0.6  0.016  0.035  34.0  21.0
8757  0.003  0.6  0.012  0.036  30.0  19.0
8758  0.003  0.6  0.004  0.042  33.0  19.0
8759  0.003  0.6  0.003  0.042  29.0  17.0

[8760 rows x 6 columns]

In [67]:
# 결측치 처리
imputer = KNNImputer(n_neighbors=3)
filled = imputer.fit_transform(air_21[col])
air_21[col] = filled
air_21.isna().sum()

측정소코드    0
측정소명     0
측정일시     0
SO2      0
CO       0
O3       0
NO2      0
PM10     0
PM25     0
dtype: int64

#### 2) air_22

In [125]:
air_22.isna().sum()

측정소코드     0
측정소명      0
측정일시      0
SO2      21
CO       21
O3       21
NO2      21
PM10     38
PM25     25
dtype: int64

In [126]:
col = air_22.columns[3:]
air_22[col]

        SO2   CO     O3    NO2  PM10  PM25
0     0.003  0.4  0.026  0.016  23.0  12.0
1     0.003  0.4  0.022  0.020  20.0   9.0
2     0.003  0.5  0.014  0.028  20.0   9.0
3     0.003  0.5  0.016  0.027  19.0  10.0
4     0.003  0.5  0.005  0.040  24.0  11.0
...     ...  ...    ...    ...   ...   ...
2155  0.002  0.4  0.036  0.017  11.0   8.0
2156  0.002  0.4  0.032  0.018  10.0   7.0
2157  0.003  0.3  0.038  0.013  11.0   5.0
2158  0.003  0.3  0.036  0.015  11.0   5.0
2159  0.002  0.4  0.033  0.017   9.0   5.0

[2160 rows x 6 columns]

In [127]:
# 결측치 처리
imputer = KNNImputer(n_neighbors=3)
filled = imputer.fit_transform(air_22[col])
air_22[col] = filled
air_22.isna().sum()

측정소코드    0
측정소명     0
측정일시     0
SO2      0
CO       0
O3       0
NO2      0
PM10     0
PM25     0
dtype: int64

#### [실습문제2] 날씨 데이터 결측치 처리
* 날씨 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.

* '강우량'을 어떻게 해야할까요?

In [51]:
weather_21['운형(운형약어)'].unique()

array([nan, 'Sc', 'ScAcCi', 'ScCi', 'Ci', 'ScAs', 'StNs', 'Cs', 'AcCs',
       'AcCi', 'ScAc', 'St', 'Cc', 'Ac', 'As', 'ScCs', 'CuSc', 'StAs',
       'CsCi', 'CbStNs', 'AcCc', 'ScCc', 'CuScNs', 'CuScAc', 'CuAc',
       'CuCi', 'CuAs', 'CuScAs', 'Cu', 'CuScAcCi', 'CuScCi', 'CbCu',
       'CbScNs', 'CuScCc', 'CuScCcCi', 'CuScCs', 'CbScCs', 'ScCcCi',
       'CuCcCi', 'CuAcCc', 'CbSc', 'ScAcCs', 'StAsCi', 'ScAsCi', 'AcCcCi',
       'CcCi', 'CbScAs'], dtype=object)

In [115]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_del_col = ['기온 QC플래그', '풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', 
                   '현지기압 QC플래그', '해면기압 QC플래그', '지면상태(지면상태코드)', 
                   '지면온도 QC플래그', '강수량 QC플래그', '일조 QC플래그', '3시간신적설(cm)',
                   '일조 QC플래그', '일사 QC플래그', '운형(운형약어)' ]

In [56]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 결측치가 행의 수만큼 있는 열은 제거
weather_21 = weather_21.drop(weather_del_col, axis=1)
weather_22 = weather_22.drop(weather_del_col, axis=1)

#### 1) weather_21

In [57]:
# 강수량이 null인 곳은 평균 습도를 활용하여 결측치를 채워넣음
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
filled = imputer.fit_transform(weather_21[['강수량(mm)', '습도(%)']])
weather_21[['강수량(mm)', '습도(%)']] = filled
weather_21.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일사(MJ/m2)        3968
적설(cm)           8380
전운량(10분위)           2
중하층운량(10분위)         0
최저운고(100m )      4212
시정(10m)             0
현상번호(국내식)        6634
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [61]:
# 적설량은 0으로 대체
weather_21['적설(cm)'] = weather_21['적설(cm)'].fillna(0)

In [62]:
weather_21.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일사(MJ/m2)        3968
적설(cm)              0
전운량(10분위)           2
중하층운량(10분위)         0
최저운고(100m )      4212
시정(10m)             0
현상번호(국내식)        6634
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [63]:
col = weather_21.columns[3:]
weather_21[col]

,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,-8.7,0.000000,2.4,270.0,68.0,2.2,-13.5,1016.4,1027.7,NaN,...,0.0,0,NaN,2000,NaN,-6.9,-1.0,-0.8,0.3,1.6
1,-9.1,0.066667,1.6,270.0,69.0,2.1,-13.7,1016.2,1027.5,NaN,...,0.0,0,NaN,2000,NaN,-7.1,-1.1,-0.8,0.3,1.6
2,-9.3,0.066667,1.1,250.0,70.0,2.1,-13.7,1016.8,1028.1,NaN,...,0.0,0,NaN,2000,NaN,-7.3,-1.2,-0.9,0.3,1.6
3,-9.3,0.000000,0.3,0.0,71.0,2.2,-13.5,1016.2,1027.5,NaN,...,0.0,0,NaN,2000,NaN,-7.5,-1.3,-1.0,0.2,1.5
4,-9.7,0.066667,1.9,20.0,72.0,2.1,-13.8,1015.6,1026.9,NaN,...,0.0,0,NaN,2000,NaN,-7.6,-1.3,-1.0,0.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,-6.4,0.000000,2.2,250.0,34.0,1.3,-19.7,1021.1,1032.3,NaN,...,0.0,0,NaN,2000,NaN,-4.5,-0.5,-0.7,-0.1,1.0
8755,-6.3,0.000000,4.1,320.0,35.0,1.3,-19.2,1021.2,1032.4,NaN,...,0.0,0,NaN,2000,NaN,-5.3,-0.6,-0.8,-0.1,1.0
8756,-6.7,0.000000,4.8,320.0,36.0,1.3,-19.3,1021.2,1032.4,NaN,...,0.0,0,NaN,2000,NaN,-5.7,-0.7,-0.8,-0.1,1.0
8757,-7.5,0.000000,3.0,320.0,37.0,1.3,-19.7,1021.8,1033.1,NaN,...,0.0,0,NaN,2000,NaN,-6.2,-0.8,-0.9,-0.2,1.0
8758,-7.7,0.000000,2.9,320.0,38.0,1.3,-19.5,1021.9,1033.2,NaN,...,0.0,0,NaN,2000,NaN,-6.5,-0.9,-0.9,-0.2,1.0

In [64]:
# 결측치 처리
imputer = KNNImputer(n_neighbors=3)
filled1 = imputer.fit_transform(weather_21[col])
weather_21[col] = filled1
weather_21.isna().sum()

지점               0
지점명              0
일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

#### 2) weather_22

In [117]:
# 강수량이 null인 곳은 평균 습도를 활용하여 결측치를 채워넣음
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)
filled = imputer.fit_transform(weather_22[['강수량(mm)', '습도(%)']])
weather_22[['강수량(mm)', '습도(%)']] = filled
weather_22.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1089
일사(MJ/m2)        1089
적설(cm)           2020
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      1417
시정(10m)             0
현상번호(국내식)        1742
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [118]:
# 적설량은 0으로 대체
weather_22['적설(cm)'] = weather_22['적설(cm)'].fillna(0)

In [119]:
weather_22.isna().sum()

지점                  0
지점명                 0
일시                  0
기온(°C)              0
강수량(mm)             0
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1089
일사(MJ/m2)        1089
적설(cm)              0
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      1417
시정(10m)             0
현상번호(국내식)        1742
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [120]:
col = weather_22.columns[3:]
weather_22[col]

,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,-8.5,0.033333,1.9,320,41.0,1.3,-19.4,1021.9,1033.2,NaN,...,0,0,NaN,2000,NaN,-7.0,-1.0,-1.0,-0.2,1.0
1,-9.2,0.033333,1.8,270,42.0,1.3,-19.7,1022.2,1033.6,NaN,...,0,0,NaN,2000,NaN,-7.2,-1.1,-1.1,-0.2,1.0
2,-9.5,0.033333,1.2,270,43.0,1.3,-19.7,1022.3,1033.7,NaN,...,0,0,NaN,2000,NaN,-7.5,-1.3,-1.2,-0.2,1.0
3,-9.3,0.033333,1.4,290,46.0,1.4,-18.8,1022.6,1034.0,NaN,...,0,0,NaN,2000,NaN,-7.6,-1.4,-1.2,-0.2,1.0
4,-9.6,0.033333,1.7,340,48.0,1.4,-18.5,1021.9,1033.3,NaN,...,0,0,NaN,2000,NaN,-7.6,-1.4,-1.3,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,12.3,0.033333,2.9,340,47.0,6.7,1.2,1013.4,1023.8,0.4,...,6,1,9.0,2000,NaN,10.0,12.6,11.8,11.0,10.2
2156,11.6,0.033333,2.7,340,48.0,6.5,0.9,1014.6,1025.0,NaN,...,6,0,NaN,2000,NaN,8.9,12.2,11.6,11.0,10.3
2157,10.5,0.000000,3.5,320,51.0,6.4,0.7,1015.4,1025.9,NaN,...,1,1,10.0,2000,NaN,7.8,11.8,11.4,11.0,10.4
2158,9.3,0.000000,1.9,50,58.0,6.8,1.4,1016.4,1026.9,NaN,...,3,3,10.0,2000,NaN,7.3,11.4,11.1,10.9,10.5
2159,8.4,0.000000,1.2,360,61.0,6.7,1.3,1016.9,1027.4,NaN,...,1,1,10.0,2000,NaN,6.7,11.0,10.8,10.8,10.5

In [121]:
# 결측치 처리
imputer = KNNImputer(n_neighbors=3)
filled1 = imputer.fit_transform(weather_22[col])
weather_22[col] = filled1
weather_22.isna().sum()

지점               0
지점명              0
일시               0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

#### [실습문제3] air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성하기


* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

#### 1) air_21

In [77]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_21['측정일시'] = air_21['측정일시'].astype('int')
t = air_21['측정일시']

temp = []
for i in t:
    if int(i%100) == 24:
        i += 76
    temp.append(i)
    
for i in range(len(temp)):
    if temp[i] == 2021013200:
        temp[i] = 2021020100
    elif temp[i] == 2021022900:
        temp[i] = 2021030100
    elif temp[i] == 2021033200:
        temp[i] = 2021040100
    elif temp[i] == 2021043100:
        temp[i] = 2021050100
    elif temp[i] == 2021053200:
        temp[i] = 2021060100
    elif temp[i] == 2021063100:
        temp[i] = 2021070100
    elif temp[i] == 2021073200:
        temp[i] = 2021080100
    elif temp[i] == 2021083200:
        temp[i] = 2021090100
    elif temp[i] == 2021093100:
        temp[i] = 2021100100
    elif temp[i] == 2021103200:
        temp[i] = 2021110100
    elif temp[i] == 2021113100:
        temp[i] = 2021120100
    elif temp[i] == 2021123200:
        temp[i] = 2022010100

air_21['time'] = temp

format = '%Y%m%d%H'
air_21['time'] = pd.to_datetime(air_21['time'].astype('str'), format=format)
air_21.head()

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
0,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00
1,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00
2,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00
3,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00
4,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00

In [78]:
air_21.tail()

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
8755,111123,종로구,2021093020,0.003,0.7,0.020,0.036,35.0,24.0,2021-09-30 20:00:00
8756,111123,종로구,2021093021,0.003,0.6,0.016,0.035,34.0,21.0,2021-09-30 21:00:00
8757,111123,종로구,2021093022,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 22:00:00
8758,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 23:00:00
8759,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,2021-10-01 00:00:00

#### 2) air_22

In [128]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_22['측정일시'] = air_22['측정일시'].astype('int')
t = air_22['측정일시']

temp = []
for i in t:
    if int(i%100) == 24:
        i += 76
    temp.append(i)
    
for i in range(len(temp)):
    if temp[i] == 2022013200:
        temp[i] = 2022020100
    elif temp[i] == 2022022900:
        temp[i] = 2022030100
    elif temp[i] == 2022033200:
        temp[i] = 2022040100

air_22['time'] = temp

format = '%Y%m%d%H'
air_22['time'] = pd.to_datetime(air_22['time'].astype('str'), format=format)
air_22.head()

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
0,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,2022-01-01 01:00:00
1,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,2022-01-01 02:00:00
2,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,2022-01-01 03:00:00
3,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,2022-01-01 04:00:00
4,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,2022-01-01 05:00:00

In [95]:
# 2022 값을 2022 데이터로 옮기기
air_21 = air_21.sort_values('time')
air_21 = air_21.reset_index(drop=True)
air_21

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
0,111123,종로구,2021010101,0.002,0.5,0.022,0.016,24.0,14.0,2021-01-01 01:00:00
1,111123,종로구,2021010102,0.002,0.6,0.018,0.020,25.0,14.0,2021-01-01 02:00:00
2,111123,종로구,2021010103,0.002,0.6,0.013,0.025,27.0,16.0,2021-01-01 03:00:00
3,111123,종로구,2021010104,0.003,0.6,0.011,0.027,23.0,13.0,2021-01-01 04:00:00
4,111123,종로구,2021010105,0.003,0.6,0.008,0.032,24.0,14.0,2021-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...
8755,111123,종로구,2021123120,0.003,0.4,0.025,0.020,26.0,8.0,2021-12-31 20:00:00
8756,111123,종로구,2021123121,0.003,0.4,0.030,0.014,27.0,9.0,2021-12-31 21:00:00
8757,111123,종로구,2021123122,0.003,0.4,0.033,0.011,20.0,8.0,2021-12-31 22:00:00
8758,111123,종로구,2021123123,0.003,0.4,0.029,0.015,20.0,9.0,2021-12-31 23:00:00
8759,111123,종로구,2021123124,0.003,0.4,0.026,0.016,20.0,9.0,2022-01-01 00:00:00

In [100]:
last = air_21.tail(1)

In [102]:
air_21 = air_21.drop(last.index, axis=0)
air_21.tail()

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
8754,111123,종로구,2021123119,0.003,0.4,0.026,0.019,25.0,10.0,2021-12-31 19:00:00
8755,111123,종로구,2021123120,0.003,0.4,0.025,0.020,26.0,8.0,2021-12-31 20:00:00
8756,111123,종로구,2021123121,0.003,0.4,0.030,0.014,27.0,9.0,2021-12-31 21:00:00
8757,111123,종로구,2021123122,0.003,0.4,0.033,0.011,20.0,8.0,2021-12-31 22:00:00
8758,111123,종로구,2021123123,0.003,0.4,0.029,0.015,20.0,9.0,2021-12-31 23:00:00

In [129]:
air_22 = pd.concat([air_22, last], axis=0)

In [130]:
air_22 = air_22.reset_index(drop=True)
air_22

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
0,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,2022-01-01 01:00:00
1,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,2022-01-01 02:00:00
2,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,2022-01-01 03:00:00
3,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,2022-01-01 04:00:00
4,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,2022-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...
2156,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,2022-03-31 21:00:00
2157,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 22:00:00
2158,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 23:00:00
2159,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,2022-04-01 00:00:00
2160,111123,종로구,2021123124,0.003,0.4,0.026,0.016,20.0,9.0,2022-01-01 00:00:00

In [131]:
air_22 = air_22.sort_values('time')
air_22 = air_22.reset_index(drop=True)
air_22

,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,time
0,111123,종로구,2021123124,0.003,0.4,0.026,0.016,20.0,9.0,2022-01-01 00:00:00
1,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,2022-01-01 01:00:00
2,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,2022-01-01 02:00:00
3,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,2022-01-01 03:00:00
4,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,2022-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
2156,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,2022-03-31 20:00:00
2157,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,2022-03-31 21:00:00
2158,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 22:00:00
2159,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 23:00:00
2160,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,2022-04-01 00:00:00

In [132]:
air_22 = air_22.drop(air_22.tail(1).index, axis=0)

In [133]:
air_21.shape, air_22.shape

((8759, 10), (2160, 10))

In [134]:
weather_21.shape, weather_22.shape

((8759, 26), (2160, 26))

#### [실습문제4] weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성하기


* weather_21, weather_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

#### 1) weather_21

In [83]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_21['time'] = pd.to_datetime(weather_21['일시'].astype('str'))
weather_21.tail()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
8754,108,서울,2021-12-31 19:00,-6.4,0.0,2.2,250.0,34.0,1.3,-19.7,...,0.0,13.000000,2000.0,5.0,-4.5,-0.5,-0.7,-0.1,1.0,2021-12-31 19:00:00
8755,108,서울,2021-12-31 20:00,-6.3,0.0,4.1,320.0,35.0,1.3,-19.2,...,0.0,30.666667,2000.0,5.0,-5.3,-0.6,-0.8,-0.1,1.0,2021-12-31 20:00:00
8756,108,서울,2021-12-31 21:00,-6.7,0.0,4.8,320.0,36.0,1.3,-19.3,...,0.0,30.666667,2000.0,5.0,-5.7,-0.7,-0.8,-0.1,1.0,2021-12-31 21:00:00
8757,108,서울,2021-12-31 22:00,-7.5,0.0,3.0,320.0,37.0,1.3,-19.7,...,0.0,30.666667,2000.0,5.0,-6.2,-0.8,-0.9,-0.2,1.0,2021-12-31 22:00:00
8758,108,서울,2021-12-31 23:00,-7.7,0.0,2.9,320.0,38.0,1.3,-19.5,...,0.0,30.666667,2000.0,5.0,-6.5,-0.9,-0.9,-0.2,1.0,2021-12-31 23:00:00

#### 2) weather_22

In [122]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_22['time'] = pd.to_datetime(weather_22['일시'].astype('str'))
weather_22.tail()

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
2155,108,서울,2022-03-31 19:00,12.3,0.033333,2.9,340.0,47.0,6.7,1.2,...,1.0,9.000000,2000.0,28.333333,10.0,12.6,11.8,11.0,10.2,2022-03-31 19:00:00
2156,108,서울,2022-03-31 20:00,11.6,0.033333,2.7,340.0,48.0,6.5,0.9,...,0.0,11.666667,2000.0,28.333333,8.9,12.2,11.6,11.0,10.3,2022-03-31 20:00:00
2157,108,서울,2022-03-31 21:00,10.5,0.000000,3.5,320.0,51.0,6.4,0.7,...,1.0,10.000000,2000.0,29.666667,7.8,11.8,11.4,11.0,10.4,2022-03-31 21:00:00
2158,108,서울,2022-03-31 22:00,9.3,0.000000,1.9,50.0,58.0,6.8,1.4,...,3.0,10.000000,2000.0,1.000000,7.3,11.4,11.1,10.9,10.5,2022-03-31 22:00:00
2159,108,서울,2022-03-31 23:00,8.4,0.000000,1.2,360.0,61.0,6.7,1.3,...,1.0,10.000000,2000.0,16.000000,6.7,11.0,10.8,10.8,10.5,2022-03-31 23:00:00

In [166]:
air_21.to_csv('air_21_prep.csv', encoding='UTF-8', index=False)
air_22.to_csv('air_22_prep.csv', encoding='UTF-8', index=False)

---

# 2. 데이터 합치기
* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보겠습니다

#### [실습문제5] 데이터 합치기
* 'df_21','df_22'에 21년도와 22년도의 미세먼지, 날씨 데이터를 합쳐 넣도록 하겠습니다.

In [135]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21 = pd.merge(air_21, weather_21, on = 'time')
df_22 = pd.merge(air_22, weather_22, on='time')

In [137]:
df_21.shape, df_22.shape

((8759, 35), (2160, 35))

In [139]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   측정소코드          8759 non-null   int64
 1   측정소명           8759 non-null   object
 2   측정일시           8759 non-null   int32
 3   SO2            8759 non-null   float64
 4   CO             8759 non-null   float64
 5   O3             8759 non-null   float64
 6   NO2            8759 non-null   float64
 7   PM10           8759 non-null   float64
 8   PM25           8759 non-null   float64
 9   time           8759 non-null   datetime64[ns]
 10  지점             8759 non-null   int64
 11  지점명            8759 non-null   object
 12  일시             8759 non-null   object
 13  기온(°C)         8759 non-null   float64
 14  강수량(mm)        8759 non-null   float64
 15  풍속(m/s)        8759 non-null   float64
 16  풍향(16방위)       8759 non-null   float64
 17  습도(%)          8759 non-null   float64
 18  증기압(hPa)       8759 non-null   float64
 19  이슬점온도(°C)      8759 non-null   float64
 20  현지기압(hPa)      8759 non-null   float64
 21  해면기압(hPa)      8759 non-null   float64
 22  일조(hr)         8759 non-null   float64
 23  일사(MJ/m2)      8759 non-null   float64
 24  적설(cm)         8759 non-null   float64
 25  전운량(10분위)      8759 non-null   float64
 26  중하층운량(10분위)    8759 non-null   float64
 27  최저운고(100m )    8759 non-null   float64
 28  시정(10m)        8759 non-null   float64
 29  현상번호(국내식)      8759 non-null   float64
 30  지면온도(°C)       8759 non-null   float64
 31  5cm 지중온도(°C)   8759 non-null   float64
 32  10cm 지중온도(°C)  8759 non-null   float64
 33  20cm 지중온도(°C)  8759 non-null   float64
 34  30cm 지중온도(°C)  8759 non-null   float64
dtypes: datetime64[ns](1), float64(28), int32(1), int64(2), object(3)
memory usage: 2.4+ MB

#### [실습문제6] 각종 인자 추가 및 사용하지 않을 변수 제거

* 새로운 인자를 추가 하세요.


* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.

In [141]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
del_col = ['측정소코드', '측정소명', '측정일시', '지점', '지점명', '일시']

df_21 = df_21.drop(del_col, axis=1)
df_22 = df_22.drop(del_col, axis=1)

In [145]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
col = ['time', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', '기온(°C)', '강수량(mm)',
       '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)',
       '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '최저운고(100m )', '시정(10m)', '현상번호(국내식)', '지면온도(°C)',
       '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)']

df_21 = df_21[col]
df_22 = df_22[col]
df_21

,time,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2021-01-01 01:00:00,0.002,0.5,0.022,0.016,24.0,14.0,-8.7,0.000000,2.4,270.0,68.0,2.2,-13.5,1016.4,1027.7,0.000000,0.003333,0.0,0.0,0.0,11.000000,2000.0,17.333333,-6.9,-1.0,-0.8,0.3,1.6
1,2021-01-01 02:00:00,0.002,0.6,0.018,0.020,25.0,14.0,-9.1,0.066667,1.6,270.0,69.0,2.1,-13.7,1016.2,1027.5,0.000000,0.003333,0.0,0.0,0.0,13.666667,2000.0,17.333333,-7.1,-1.1,-0.8,0.3,1.6
2,2021-01-01 03:00:00,0.002,0.6,0.013,0.025,27.0,16.0,-9.3,0.066667,1.1,250.0,70.0,2.1,-13.7,1016.8,1028.1,0.666667,0.156667,0.0,0.0,0.0,13.666667,2000.0,17.333333,-7.3,-1.2,-0.9,0.3,1.6
3,2021-01-01 04:00:00,0.003,0.6,0.011,0.027,23.0,13.0,-9.3,0.000000,0.3,0.0,71.0,2.2,-13.5,1016.2,1027.5,0.266667,0.100000,0.0,0.0,0.0,15.000000,2000.0,649.666667,-7.5,-1.3,-1.0,0.2,1.5
4,2021-01-01 05:00:00,0.003,0.6,0.008,0.032,24.0,14.0,-9.7,0.066667,1.9,20.0,72.0,2.1,-13.8,1015.6,1026.9,0.333333,0.173333,0.0,0.0,0.0,12.333333,2000.0,17.333333,-7.6,-1.3,-1.0,0.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2021-12-31 19:00:00,0.003,0.4,0.026,0.019,25.0,10.0,-6.4,0.000000,2.2,250.0,34.0,1.3,-19.7,1021.1,1032.3,0.600000,0.916667,0.0,0.0,0.0,13.000000,2000.0,5.000000,-4.5,-0.5,-0.7,-0.1,1.0
8755,2021-12-31 20:00:00,0.003,0.4,0.025,0.020,26.0,8.0,-6.3,0.000000,4.1,320.0,35.0,1.3,-19.2,1021.2,1032.4,0.733333,0.926667,0.0,0.0,0.0,30.666667,2000.0,5.000000,-5.3,-0.6,-0.8,-0.1,1.0
8756,2021-12-31 21:00:00,0.003,0.4,0.030,0.014,27.0,9.0,-6.7,0.000000,4.8,320.0,36.0,1.3,-19.3,1021.2,1032.4,0.733333,0.926667,0.0,0.0,0.0,30.666667,2000.0,5.000000,-5.7,-0.7,-0.8,-0.1,1.0
8757,2021-12-31 22:00:00,0.003,0.4,0.033,0.011,20.0,8.0,-7.5,0.000000,3.0,320.0,37.0,1.3,-19.7,1021.8,1033.1,0.733333,0.926667,0.0,0.0,0.0,30.666667,2000.0,5.000000,-6.2,-0.8,-0.9,-0.2,1.0
8758,2021-12-31 23:00:00,0.003,0.4,0.029,0.015,20.0,9.0,-7.7,0.000000,2.9,320.0,38.0,1.3,-19.5,1021.9,1033.2,0.733333,0.926667,0.0,0.0,0.0,30.666667,2000.0,5.000000,-6.5,-0.9,-0.9,-0.2,1.0

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [150]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21['aft1h_PM10'] = df_21['PM10'].shift(1, fill_value= 24.0)
df_21[['aft1h_PM10', 'PM10']]

      aft1h_PM10  PM10
0           24.0  24.0
1           24.0  25.0
2           25.0  27.0
3           27.0  23.0
4           23.0  24.0
...          ...   ...
8754        24.0  25.0
8755        25.0  26.0
8756        26.0  27.0
8757        27.0  20.0
8758        20.0  20.0

[8759 rows x 2 columns]

In [151]:
df_22['aft1h_PM10'] = df_22['PM10'].shift(1, fill_value=20.0)
df_22[['aft1h_PM10', 'PM10']]

<ipython-input-151-5b87e284bb2b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22['aft1h_PM10'] = df_22['PM10'].shift(1, fill_value=20.0)

      aft1h_PM10  PM10
0           20.0  20.0
1           20.0  23.0
2           23.0  20.0
3           20.0  20.0
4           20.0  19.0
...          ...   ...
2155         9.0  10.0
2156        10.0  11.0
2157        11.0  10.0
2158        10.0  11.0
2159        11.0  11.0

[2160 rows x 2 columns]

---

# 3. train / test split

#### [실습문제7] 데이터셋 나누기 

* 데이터셋을 train(21년도 데이터), test(22년도 데이터)로 나눠 csv로 저장하도록 하겠습니다.


* train_x / train_y / test_x / test_y 로 나누세요.


* train_x.csv / train_y.csv / test_x.csv / test_y.csv 로 저장하세요.

In [163]:
target = 'aft1h_PM10'
train_x = df_21.drop(target, axis=1)
train_y = df_21[target]
test_x = df_22.drop(target, axis=1)
test_y = df_22[target]

In [164]:
train_x.to_csv('train_x.csv', encoding='UTF-8', index=False)
train_y.to_csv('train_y.csv', encoding='UTF-8', index=False)
test_x.to_csv('test_x.csv', encoding='UTF-8', index=False)
test_y.to_csv('test_y.csv', encoding='UTF-8', index=False)

---