In [21]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df17 = pd.read_csv('./test2017.csv', index_col=0)
df18 = pd.read_csv('./test2018.csv', index_col=0)
df19 = pd.read_csv('./test2019.csv', index_col=0)
df20 = pd.read_csv('./test2020.csv', index_col=0)
df21 = pd.read_csv('./test2021.csv', index_col=0)

In [22]:
df17

,기준일ID,시간대구분,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20170101,0,43922.2281,953.7652,627.7225,927.6134,2025.0630,2278.7336,1744.8161,1713.6754,...,2060.1511,1734.3805,1713.3332,1754.6515,1636.4175,1521.3668,1728.0639,1484.4518,1238.2606,3670.0451
1,20170101,1,43763.4929,962.2909,633.3292,970.6215,2045.7002,2412.6287,1765.7725,1765.1171,...,2037.5677,1745.5960,1735.4797,1700.9196,1619.3672,1474.8418,1661.3750,1470.3009,1098.4788,3568.8258
2,20170101,2,43561.5708,932.2939,613.6027,964.3505,2057.3601,2419.0941,1734.0569,1746.3940,...,2005.4838,1750.7594,1710.6116,1660.6697,1660.9852,1511.4103,1635.0352,1441.0173,1112.3632,3541.2620
3,20170101,3,43928.9929,926.3617,609.7009,983.2400,2100.5071,2480.1898,1780.3833,1723.6640,...,2044.6913,1777.4169,1718.1475,1678.9374,1626.8350,1516.5837,1665.8781,1471.2127,1098.3154,3630.0822
4,20170101,4,44150.2973,922.8893,607.4184,990.0534,2128.2729,2531.6549,1774.7853,1752.0073,...,2060.8824,1801.2144,1718.2957,1678.6174,1640.9056,1513.5035,1653.2704,1435.5180,1090.4059,3569.1653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,20171231,19,35510.8135,719.9697,473.9757,627.8206,1479.8448,1763.8447,1348.9653,1345.1221,...,1655.8945,1463.4532,1340.6522,1380.0562,1460.7913,1281.4863,1365.3390,1212.4209,1061.0484,3159.5903
8756,20171231,20,35678.4077,691.9558,455.5532,628.7391,1451.5036,1702.4846,1394.6189,1317.2842,...,1639.4069,1514.1730,1336.5126,1447.3877,1416.0200,1286.7832,1432.5423,1238.6729,1088.7118,3044.7397
8757,20171231,21,36053.7105,699.5068,460.5187,656.5684,1478.6677,1772.9579,1457.7482,1360.3362,...,1569.9575,1525.0771,1356.5732,1455.3222,1510.7929,1326.3830,1422.6564,1264.8753,1100.6558,3169.8997
8758,20171231,22,36812.7978,699.6654,460.6227,729.0115,1553.4675,1776.1320,1465.0641,1351.8560,...,1654.3967,1572.5123,1390.1495,1439.2294,1573.6462,1312.8194,1413.5892,1314.2216,1064.7549,3073.4581
8759,20171231,23,39266.5611,809.9882,533.1728,767.5850,1843.0374,1957.8406,1556.9252,1422.5450,...,1772.4373,1566.6931,1467.2523,1501.1610,1593.3490,1383.5968,1473.6424,1456.2826,1079.3004,3361.6703

In [23]:
import warnings
warnings.filterwarnings('ignore')

In [24]:
df = [df17, df18, df19, df20, df21]
df_total = pd.concat(df, axis=0)

In [25]:
df_total['기준일ID'] = pd.to_datetime(df_total['기준일ID'].astype(str))

In [26]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43512 entries, 0 to 8759
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준일ID            43512 non-null  datetime64[ns]
 1   시간대구분            43512 non-null  int64
 2   총생활인구수           43512 non-null  float64
 3   남자0세부터9세생활인구수    43512 non-null  float64
 4   남자10세부터14세생활인구수  43512 non-null  float64
 5   남자15세부터19세생활인구수  43512 non-null  float64
 6   남자20세부터24세생활인구수  43512 non-null  float64
 7   남자25세부터29세생활인구수  43512 non-null  float64
 8   남자30세부터34세생활인구수  43512 non-null  float64
 9   남자35세부터39세생활인구수  43512 non-null  float64
 10  남자40세부터44세생활인구수  43512 non-null  float64
 11  남자45세부터49세생활인구수  43512 non-null  float64
 12  남자50세부터54세생활인구수  43512 non-null  float64
 13  남자55세부터59세생활인구수  43512 non-null  float64
 14  남자60세부터64세생활인구수  43512 non-null  float64
 15  남자65세부터69세생활인구수  43512 non-null  float64
 16  남자70세이상생활인구수     43512 non-null  float64
 17  여자0세부터9세생활인구수    43512 non-null  float64
 18  여자10세부터14세생활인구수  43512 non-null  float64
 19  여자15세부터19세생활인구수  43512 non-null  float64
 20  여자20세부터24세생활인구수  43512 non-null  float64
 21  여자25세부터29세생활인구수  43512 non-null  float64
 22  여자30세부터34세생활인구수  43512 non-null  float64
 23  여자35세부터39세생활인구수  43512 non-null  float64
 24  여자40세부터44세생활인구수  43512 non-null  float64
 25  여자45세부터49세생활인구수  43512 non-null  float64
 26  여자50세부터54세생활인구수  43512 non-null  float64
 27  여자55세부터59세생활인구수  43512 non-null  float64
 28  여자60세부터64세생활인구수  43512 non-null  float64
 29  여자65세부터69세생활인구수  43512 non-null  float64
 30  여자70세이상생활인구수     43512 non-null  float64
dtypes: datetime64[ns](1), float64(29), int64(1)
memory usage: 10.6 MB

In [27]:
df_total

,기준일ID,시간대구분,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2017-01-01,0,43922.2281,953.7652,627.7225,927.6134,2025.0630,2278.7336,1744.8161,1713.6754,...,2060.1511,1734.3805,1713.3332,1754.6515,1636.4175,1521.3668,1728.0639,1484.4518,1238.2606,3670.0451
1,2017-01-01,1,43763.4929,962.2909,633.3292,970.6215,2045.7002,2412.6287,1765.7725,1765.1171,...,2037.5677,1745.5960,1735.4797,1700.9196,1619.3672,1474.8418,1661.3750,1470.3009,1098.4788,3568.8258
2,2017-01-01,2,43561.5708,932.2939,613.6027,964.3505,2057.3601,2419.0941,1734.0569,1746.3940,...,2005.4838,1750.7594,1710.6116,1660.6697,1660.9852,1511.4103,1635.0352,1441.0173,1112.3632,3541.2620
3,2017-01-01,3,43928.9929,926.3617,609.7009,983.2400,2100.5071,2480.1898,1780.3833,1723.6640,...,2044.6913,1777.4169,1718.1475,1678.9374,1626.8350,1516.5837,1665.8781,1471.2127,1098.3154,3630.0822
4,2017-01-01,4,44150.2973,922.8893,607.4184,990.0534,2128.2729,2531.6549,1774.7853,1752.0073,...,2060.8824,1801.2144,1718.2957,1678.6174,1640.9056,1513.5035,1653.2704,1435.5180,1090.4059,3569.1653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31,19,33304.5400,569.3452,374.9229,702.9942,1195.0912,1818.2627,1434.7351,1439.8129,...,1870.7877,1628.8025,1474.3560,1136.8778,1399.4513,1262.9415,1342.7762,1058.0542,749.3935,2239.1210
8756,2021-12-31,20,33368.7201,599.9827,395.0698,806.5718,1232.5401,1781.4567,1441.6411,1469.7313,...,1890.1752,1598.9256,1469.9603,1124.4243,1414.3330,1224.8609,1336.5298,1056.6818,756.4905,2226.3545
8757,2021-12-31,21,34083.1721,630.5049,415.1424,825.4794,1360.3197,1866.0852,1428.3237,1490.6164,...,1964.4149,1560.5875,1404.8125,1174.9639,1477.2012,1250.2445,1336.1856,1042.3110,750.1392,2249.0323
8758,2021-12-31,22,34380.0806,618.6265,407.3311,831.6651,1364.7723,1899.4216,1416.2191,1473.4710,...,2017.0313,1573.9912,1507.6313,1171.6865,1488.2721,1269.3231,1334.5079,1045.8411,762.5466,2263.6665
8759,2021-12-31,23,37074.2785,734.2128,483.3418,895.2420,1594.0355,2116.7695,1519.3632,1552.7195,...,2100.5122,1637.1683,1570.8625,1251.8968,1514.6940,1379.1155,1319.0559,1138.3249,816.1801,2520.7282

In [28]:
df_total.reset_index(inplace=True, drop=True)

In [29]:
df_total

,기준일ID,시간대구분,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2017-01-01,0,43922.2281,953.7652,627.7225,927.6134,2025.0630,2278.7336,1744.8161,1713.6754,...,2060.1511,1734.3805,1713.3332,1754.6515,1636.4175,1521.3668,1728.0639,1484.4518,1238.2606,3670.0451
1,2017-01-01,1,43763.4929,962.2909,633.3292,970.6215,2045.7002,2412.6287,1765.7725,1765.1171,...,2037.5677,1745.5960,1735.4797,1700.9196,1619.3672,1474.8418,1661.3750,1470.3009,1098.4788,3568.8258
2,2017-01-01,2,43561.5708,932.2939,613.6027,964.3505,2057.3601,2419.0941,1734.0569,1746.3940,...,2005.4838,1750.7594,1710.6116,1660.6697,1660.9852,1511.4103,1635.0352,1441.0173,1112.3632,3541.2620
3,2017-01-01,3,43928.9929,926.3617,609.7009,983.2400,2100.5071,2480.1898,1780.3833,1723.6640,...,2044.6913,1777.4169,1718.1475,1678.9374,1626.8350,1516.5837,1665.8781,1471.2127,1098.3154,3630.0822
4,2017-01-01,4,44150.2973,922.8893,607.4184,990.0534,2128.2729,2531.6549,1774.7853,1752.0073,...,2060.8824,1801.2144,1718.2957,1678.6174,1640.9056,1513.5035,1653.2704,1435.5180,1090.4059,3569.1653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43507,2021-12-31,19,33304.5400,569.3452,374.9229,702.9942,1195.0912,1818.2627,1434.7351,1439.8129,...,1870.7877,1628.8025,1474.3560,1136.8778,1399.4513,1262.9415,1342.7762,1058.0542,749.3935,2239.1210
43508,2021-12-31,20,33368.7201,599.9827,395.0698,806.5718,1232.5401,1781.4567,1441.6411,1469.7313,...,1890.1752,1598.9256,1469.9603,1124.4243,1414.3330,1224.8609,1336.5298,1056.6818,756.4905,2226.3545
43509,2021-12-31,21,34083.1721,630.5049,415.1424,825.4794,1360.3197,1866.0852,1428.3237,1490.6164,...,1964.4149,1560.5875,1404.8125,1174.9639,1477.2012,1250.2445,1336.1856,1042.3110,750.1392,2249.0323
43510,2021-12-31,22,34380.0806,618.6265,407.3311,831.6651,1364.7723,1899.4216,1416.2191,1473.4710,...,2017.0313,1573.9912,1507.6313,1171.6865,1488.2721,1269.3231,1334.5079,1045.8411,762.5466,2263.6665
43511,2021-12-31,23,37074.2785,734.2128,483.3418,895.2420,1594.0355,2116.7695,1519.3632,1552.7195,...,2100.5122,1637.1683,1570.8625,1251.8968,1514.6940,1379.1155,1319.0559,1138.3249,816.1801,2520.7282

In [30]:
# CSV로 저장
df_total.to_csv('df_total.csv', index=False)